body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 100, 0.08);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background-color: #885df1;
  color: white;
  width: 150px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}
.output {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgba(39, 33, 100, 0.08);
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}
a {
  color: #885df1;
}
